<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="mat-row page mat-elevation-z2" width="80%">

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index"> {{i+1}}

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateDemande">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date de la demande </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.dateDemande| date:'dd MMMM yyyy à HH:mm'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> La demande </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.productName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userFullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> De </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.userFullName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="serviceName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Service </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.serviceName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="agenceName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Agence </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.agenceName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="montant">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Montant </mat-header-cell>
        <mat-cell *matCellDef="let demande"> {{demande.montant|currency:'XOF':'symbol'}} </mat-cell>
      </ng-container>



      <ng-container matColumnDef="statut">
        <mat-header-cell *matHeaderCellDef mat-sort-header with="90"> Statut </mat-header-cell>
        <mat-cell *matCellDef="let demande" class="progrsStat"><mat-icon [matTooltip]="getStatut(demande.statut).label" class="mat-18" [color]="getStatut(demande.statut).color" >{{getStatut(demande.statut).icon}}</mat-icon> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="lastcell">

        </mat-header-cell>

        <mat-cell *matCellDef="let demande" class="lastcell">
          <button mat-icon-button color="primary" matTooltip="Régarder" (click)="demandesView(demande)">
            <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
          </button>



        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="8" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>


  </div>
