@import '~@angular/material/_theming';

.mat-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.mat-card-header{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.mat-card-content{
  flex-grow: 1;
  overflow: hidden;
}

.nav-title {

    font-size: 15px;
    text-decoration: none;

    margin:1px;
}
.nav-desc {
  max-height: 100px;
  overflow: hidden;
}

.nav-item {
  height: 310px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
  }

  > img {
    height: 120px;
  }

  &-mask {
    position: relative;
    height: 140px;
    width: calc(100% + 48px);
    top: -24px;
    left: -24px;
    border-radius: 4px 4px 0 0;
    background: #ffffff;
    background: linear-gradient(60deg, rgb(6, 170, 170), rgb(4, 148, 136));
  }

  &-logo {
    height: 140px;
    width: 56%;
    margin: 0 22%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(/assets/logo.png);
  }
}
table {
	width: 100%;
  }

  .mat-form-field {

	width: 100%;
  }

  td, th {
	width: 25%;
  }

  .page{
	  padding: 2%;
  }

  .lastcell{
    display: flex;
    justify-content: flex-end;
  }
  .mat-column- {
    display: flex;
    justify-content: flex-end;
    }



    .right.mat-cell {
      display: flex;
      justify-content: flex-end;
  }
  .right.mat-header-cell {
      display: flex;
      justify-content: flex-end;
      padding-right: 0;
      padding-left: 24px;
  }
  .right.mat-header-cell:last-child {
      margin-right: 0;
  }
  $prefix: 'search';
  $search-height: 56px;
  $search-background: #fff;

  .#{$prefix} {
    background: $search-background;
    min-height: $search-height;
    max-height: $search-height;

    mat-icon {
      vertical-align: middle;
      margin-right: 14px;
      margin-left: 16px;
    }

    input {
      border: 0;
      height: $search-height;
      outline: none;
      width: 100%;
      font-size: 16px;
    }
  }
