<!-- 
    Login template using Angular Material
    @author Shashank Tiwari 
-->
<div class="wrapper" height="100%">


<!-- Application header starts -->
<div class="app-header">
  <h1 class="app-heading">{{title}}</h1>
</div>
<!-- Application header ends -->

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
      <div class="login-container">

          <!-- Template Header starts -->
          <div class="login-box-header">
             <mat-icon color="primary"  [inline]="true">account_circle</mat-icon>
          </div>
          <!-- Template Header ends -->

          <!-- Template Body starts -->
          <div class="login-box-body">
                <div *ngIf="isLoginError" class="color-erreur center error-message">
                        <mat-icon color="warn">error</mat-icon> <span >Nom d'utilisateur ou mot de passe incorrect</span> 
                </div>
                <br/>
           <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
              <!-- Markup for getting Username starts -->
              <mat-grid-list cols="9" rowHeight="75px">
                  <mat-grid-tile [rowspan]="1" class="login-icon">
                      <mat-icon>person</mat-icon>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="7">
                    <mat-form-field class="justifier">
                          <input [focus]="myFocusTriggeringEventEmitter" autofocus matInput placeholder="Utilisateur" text="text" #UserName ngModel name="UserName" required>
                      </mat-form-field>
                  </mat-grid-tile>
              </mat-grid-list>
              <!-- Markup for getting Username ends -->

              <!-- Markup for getting Password starts -->
              <mat-grid-list cols="9" rowHeight="100px">
                  <mat-grid-tile [rowspan]="1"  class="login-icon">
                      <mat-icon>lock</mat-icon>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="7">
                      <mat-form-field class="justifier">
                          <input matInput placeholder="Mot de passe" #Password ngModel name="Password" type="password" required>
                      </mat-form-field>
                  </mat-grid-tile>
              </mat-grid-list>
              <!-- Markup for getting Password ends -->
              <mat-progress-bar *ngIf="isLoading" mode='indeterminate' color="primary">
                
            </mat-progress-bar>
            <br>
              <button mat-raised-button class="login-button " [disabled]="!loginForm.valid" type="submit" > 
                  Connextion
              </button>
            </form>
          </div>
          <!-- Template Body ends -->
         
      </div>
  </mat-grid-tile>
  <!-- Writing markup for login ends -->
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>
</div>