<!--
    Login template using Angular Material
    @author Shashank Tiwari
-->
<div class="wrapper" height="100%">


<!-- Application header starts -->
<div class="app-header">
  <h1 class="app-heading"></h1>
</div>
<!-- Application header ends -->

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
      <div class="login-container">

          <!-- Template Header starts -->
          <div class="login-box-header">
             <mat-icon color="primary"  [inline]="true">account_circle</mat-icon>
          </div>
          <!-- Template Header ends -->

          <!-- Template Body starts -->
          <div class="login-box-body">
                <div *ngIf="isLoginError" class="color-erreur center error-message">
                        <mat-icon color="warn">error</mat-icon> <span >Nom d'utilisateur ou mot de passe incorrect</span>
                </div>
                <br/>
           <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
              <!-- Markup for getting Username starts -->
              <div fxLayout="row" class="example-full-width" >
               <div fxFlex="5%"> <mat-icon class="icone" >person</mat-icon></div>
               <div fxflex="95%" class="example-full-width">
                <mat-form-field  class="example-full-width">



                  <input [focus]="myFocusTriggeringEventEmitter" autofocus matInput placeholder="Utilisateur" text="text" #UserName ngModel name="UserName" required>
                </mat-form-field>
               </div>
              </div>
              <div fxLayout="row" fxLayoutGap="5px" class="example-full-width" >
                <div fxFlex="5%"> <mat-icon class="icone" >lock</mat-icon></div>
                <div fxflex="95%" class="example-full-width">
                 <mat-form-field  class="example-full-width">



                    <input matInput placeholder="Mot de passe" #Password ngModel name="Password" type="password" required>

                 </mat-form-field>
                </div>
               </div>
              <!-- Markup for getting Password ends -->
              <mat-progress-bar *ngIf="isLoading" mode='indeterminate' color="primary">

            </mat-progress-bar>
            <br>
            <br>
            <br>
            <mat-divider></mat-divider>
              <button mat-raised-button class="login-button " [disabled]="!loginForm.valid" type="submit" >
                  Connextion
              </button>
            </form>
          </div>
          <!-- Template Body ends -->

      </div>
  </mat-grid-tile>
  <!-- Writing markup for login ends -->
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>
</div>
