

   <mat-toolbar color="primary">
   Modification du mot de passe <mat-icon class="mat-18">lock</mat-icon>

</mat-toolbar>

<mat-divider></mat-divider>

<mat-card>


<mat-card-content>
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="editPassForm" >

                  <mat-form-field class="example-full-width">
                          <input matInput type="password"  placeholder="Ancien mot de passe"  formControlName='currentPassword' >
                          <mat-error *ngIf="formErrors.currentPassword">{{formErrors.currentPassword}}</mat-error>

                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput type="password"  placeholder="Nouveau mot de passe"  formControlName='newPassword' >
                    <mat-error *ngIf="formErrors.newPassword">{{formErrors.newPassword}}</mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput type="password"  placeholder="Confirmation du mot de passe"  formControlName='confirmPassword' >
                    <mat-error *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</mat-error>

                  </mat-form-field>


                  <br>














    </form>
</mat-card-content>

<mat-card-actions align="end">
    <button mat-raised-button (click)="onSubmit()" [disabled]="!editPassForm.valid" color="primary" >Ajouter</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="basic">fermer</button>

</mat-card-actions>

</mat-card>
