<div class="mat-row page mat-elevation-z2" width="80%">
    <div fxLayout="row">
      <div class="profile m-r-20" fxFlex="340px">
        <mat-card fxFlex>
          <div mat-card-image class="profile-image"></div>
          <div class="profile-image-avatar text-center">
            <img class="avatar" [src]="imageToShow"
            alt="Place image title"
            *ngIf="!isImageLoading; else noImageFound">
       <ng-template #noImageFound>
            <img src="fallbackImage.png" alt="Fallbackimage">
       </ng-template>
          </div>
          <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button (click)="fileInput.click()">Select File</button>
        <button (click)="onUpload()">Upload!</button>
        </mat-card>
      </div>


      <mat-card fxFlex>
        <mat-card-title></mat-card-title>
        <mat-card-content>
          <form fxLayout="column" (ngSubmit)="onSubmit()" [formGroup]="EntrepriseForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="Poste occupé" formControlName="titre" required >
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Nom d'utilisateur" formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Adresse électronique"  formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="full-width readonly-wrapper">
              <mat-select  formControlName="formeJuridique"  placeholder="Forme juridique"  [compareWith]="compareRoles" >
                  <mat-option *ngFor="let forme of formeJuridique" [value]="forme.label" >
                      {{forme.label}}
                  </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Nom complet"  formControlName="webSite" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Téléphone #"  formControlName="tel" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Adresse"  formControlName="adresse" required>
              </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!EntrepriseForm.valid">Appliquer</button>
          </form>

        </mat-card-content>
      </mat-card>
    </div>
    </div>
