

.profile-image {
  background: linear-gradient(90deg,#06665b,#118b7b);
  height: 60px;
}
.profile-image-avatar {
  margin-top: -80px;
  margin-bottom: 20px;

  > .avatar {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}

.full-width {
  width: 100%;
}

.page{
  padding: 3%;
}
.center{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.readonly-wrapper{
  cursor: not-allowed;
}
.readonly-wrapper .readonly-block{
  pointer-events: none;
}
