<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="mat-row page mat-elevation-z2" width="80%">


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let departements"> {{departements.name}} </mat-cell>
                  </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Departements </mat-header-cell>
                <mat-cell *matCellDef="let departements"> {{departements.description}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="headName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Chef du Departements </mat-header-cell>
                  <mat-cell *matCellDef="let departements"> {{departements.headName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="budjetCapex">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Ligne CAPEX </mat-header-cell>
                  <mat-cell *matCellDef="let departements"> {{departements.budjetCapex|currency:'XOF':'symbol'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="budjetOpex">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ligne OPEX </mat-header-cell>
                    <mat-cell *matCellDef="let departements"> {{departements.budjetOpex|currency:'XOF':'symbol'}} </mat-cell>
                  </ng-container>

              <ng-container matColumnDef="actions" >
                  <mat-header-cell *matHeaderCellDef class="lastcell">
                    <button mat-mini-fab color="primary" matTooltip="Nouveau departements" (click)="addNewDepartements(departements)">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let departements" class="lastcell">
                    <button mat-icon-button color="accent" matTooltip="Editer les informations" (click)="EditDepartements(departements)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" matTooltip="Définir un Chef" (click)="setHeadDepartements(departements)">
                      <mat-icon svgIcon="account-star"></mat-icon>
                    </button>

                    <button mat-icon-button color="warn" matTooltip="Suprimer l'utilisateur" (click)="deleteDepartements(departements)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator  [pageSize]="8" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>


</div>
 </div>
