<mat-toolbar color="primary">
  Définir la position de l'utilisateur
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-card>


  <mat-card-content>
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="setUserFrom">



      <mat-form-field class="example-full-width">
        <mat-select placeholder="Séléctionner le departement" formControlName="departements" (selectionChange)="getServicesByDepartementId($event.value)">
          <mat-option *ngFor="let _departements of lesDepartements" [value]="_departements.id">
            {{_departements.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="setUserFrom.get('departements').errors">Le département réquis!</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Séléctionner le service" formControlName="service">
          <mat-option *ngFor="let service of lesServcies" [value]="service.id">
            {{service.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="setUserFrom.get('service').errors">Le service est réquis!</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Séléctionner l'agence" formControlName="agence">
          <mat-option *ngFor="let _agence of lesAgences" [value]="_agence.id">
            {{_agence.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="setUserFrom.get('agence').errors">L'agence réquis!</mat-error>
      </mat-form-field>
      <br>





    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="onSubmit()" [disabled]="!setUserFrom.valid" color="primary">Assigner</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="basic">fermer</button>

  </mat-card-actions>

</mat-card>
