<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="mat-row page mat-elevation-z2" width="80%">


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Service </mat-header-cell>
                    <mat-cell *matCellDef="let articles"> {{articles.name}} </mat-cell>
                  </ng-container>
              <ng-container matColumnDef="productCategoryName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Catégories </mat-header-cell>
                <mat-cell *matCellDef="let articles"> {{articles.productCategoryName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                  <mat-cell *matCellDef="let articles"> {{articles.description}} </mat-cell>
                </ng-container>

              <ng-container matColumnDef="buyingPrice">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Prix</mat-header-cell>
                  <mat-cell *matCellDef="let articles"> {{articles.buyingPrice  | currency:'XOF':true}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fournisseursTitre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseurs </mat-header-cell>
                    <mat-cell *matCellDef="let articles"> {{articles.fournisseursTitre}} </mat-cell>
                  </ng-container>
              <ng-container matColumnDef="actions" >
                  <mat-header-cell *matHeaderCellDef class="lastcell">
                    <button mat-mini-fab color="primary" matTooltip="Nouveau articles" (click)="addNewArticles(articles)">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let articles" class="lastcell">
                    <button mat-icon-button color="accent" matTooltip="Editer les informations" (click)="EditArticles(articles)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>



                    <button mat-icon-button color="warn" matTooltip="Suprimer l'utilisateur" (click)="deleteArticles(articles)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator  [pageSize]="8" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>


</div>
<mat-divider></mat-divider>
<button mat-raised-button (click)="onClick" color="primary">Importer les articles</button>
 </div>
