.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .color{
    background: #023340;
  }
  
  .color1{
    background: #73b607;
  }
  
  .color2{
    background: #f70763;
  }