<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="mat-row page mat-elevation-z8" width="80%" heigth="60%">


  <mat-card  heigth="60%">
      <mat-card-header>
          <mat-card-title>WorkFlow des demandes</mat-card-title>
          <mat-card-subtitle>Full</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <ngx-graph
  class="chart-container"
  [links]="hierarchialGraph.links"
  [nodes]="hierarchialGraph.nodes"
  [legend]="true"
  [curve]="curve"
  [autoCenter]="true"
  [enableZoom]="true"
  [autoZoom]="true"

  [scheme]="colorScheme"



  [draggingEnabled]="true">


    <ng-template #nodeTemplate let-node>
      <svg:g class="node"
        ngx-tooltip
        [tooltipPlacement]="'top'"
        [tooltipType]="'tooltip'"
        [tooltipTitle]="node.label">
        <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)" >
        </svg:path>
      </svg:g>
    </ng-template>
    <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>

  </ngx-graph>
      </mat-card-content>


  </mat-card>
</div>

