<div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-tab-group [disableRipple]="false">
      <mat-tab label="Demande">
        <mat-card>
          <mat-card-header>
              <img matCardAvatar [src]="productDetails.sicone">
              <mat-card-title>Détails de la demandes</mat-card-title>
              <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
              <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
              <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <div fxLayout
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">


            <div fxFlex="49%">
                <table class="example-form">
                    <tr>
                      <td>Article</td>
                      <td>{{demande.productName}}</td>
                      <td rowspan="2">
                    </td>
                    </tr>
                    <tr>
                      <td>Montant</td>
                      <td class="prix"><h4>{{demande.montant|currency:'XOF':'symbol'}}</h4></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Date de la demande</td>
                      <td>{{demande.dateDemande| date:'dd MMMM yyyy à HH:mm'}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Statut</td>
                      <td><mat-icon class="mat-18" [color]="getStatut(demande.statut).color" [matTooltip]="getStatut(demande.statut).label">{{getStatut(demande.statut).icon}}</mat-icon></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>Catégorie</td>
                      <td>{{productDetails.productCategoryName}}</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>Fournisseur</td>
                        <td>{{productDetails.fournisseursTitre}}</td>
                        <td></td>
                      </tr>
                  </table>
            </div>
            <div fxFlex="49%">
                <fieldset class="fieldset">

                        <legend>Description du produit</legend>
                        {{productDetails.description}}

                </fieldset>

              </div>



    </div>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <div>

    </div>
          </mat-card-content>


      </mat-card>
      </mat-tab>
      <mat-tab label="Commentaires">
          <mat-card>
              <mat-card-header>

                  <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
                  <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
                  <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>

                  <div >


                    <div>
                    <table class="table table-condensed table-striped table-hover  table-bordered">
                      <tr>
                          <th>#</th>
                          <th>Date</th>
                          <th>Commentaire</th>
                          <th>Intervenant</th>
                          <th>Avis</th>

                      </tr>
                        <tr *ngFor="let work of workFlow; let i=index">
                           <td>
                             {{i+1}}
                           </td>
                           <td>{{work.approbationDate | date:'dd/MM/yyyy à HH:mm'}}</td>
                           <td>{{work.comment}}</td>
                           <td>{{work.userFullName}}</td>
                           <td>{{work.userUserName}}</td>

                        </tr>

                      </table>
                </div>




        </div>
        <div class="vspace"></div>
        <mat-divider></mat-divider>
        <div width="50%">

            <fieldset class="fieldset">
              <legend>Commentaire</legend>
                <form  [formGroup]="demadeForm" >
                    <mat-form-field class="example-full-width" >

                          <textarea rows="3" matInput formControlName="comment" required
                                    placeholder="Commentaire"></textarea>

                    </mat-form-field>
                  </form>
            </fieldset>
          </div>
        <mat-divider></mat-divider>
        <div>




        </div>
        <mat-divider></mat-divider>
        <div>

        </div>
              </mat-card-content>


          </mat-card>
      </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">

    <button mat-raised-button [disabled]="!demadeForm.valid" (click)="rejectDemande()" color="warn">
        Regeter
        <mat-icon class="mat-18">delete</mat-icon>

    </button>

    <button mat-raised-button [disabled]="!demadeForm.valid" (click)="ValidateDemande()" color="primary">
      Accepter
      <mat-icon class="mat-18">checked</mat-icon>

  </button>
    <button mat-raised-button (click)="onNoClick()" color="basic">
        Fermer
        <mat-icon class="mat-18">close</mat-icon>
    </button>


  </mat-card-actions>
</div>
