<div fxLayout="row"  fxLayoutGap="0px" class="layout">
  <div fxFlex="25%"  class="helppan">
  <div class="help-container">
      <p class="mat-title">Saisie de la facture</p>
      <mat-divider></mat-divider>
<div class="vspace"></div>
      <p class="mat-subheading-1">
        <b>Une facture</b> est un document qui atteste de l'achat ou de la vente de biens ou services.
      </p>
    <span  class="center-icon">

         <mat-icon class="mat-18 ulistration-mat-icon" color="warn">description</mat-icon>

    </span>
  </div>

  </div>
  <div fxFlex="75%" >
<div class="wrapper" fxLayout="column">


<div class="form-header">

<span class="close-button"   (click)="onNoClick()">
  <mat-icon   aria-label="icon">clear</mat-icon>
</span>


</div>
<div>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  
</div>
<div>
    <mat-tab-group [disableRipple]="false">
        <mat-tab label="Demande">
          <mat-card>
            <mat-card-header>
                <img matCardAvatar [src]="productDetails.sicone">
                <mat-card-title>Détails de la demandes</mat-card-title>
                <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
                <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
                <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card-content>
                <div fxLayout
              fxLayout
              fxLayout.xs="row"
              fxLayoutAlign="center"
              fxLayoutGap="10px"
              fxLayoutGap.xs="0">
  
  
  
              <div fxFlex="52%">
                  <table class="table table-condensed table-mc-red full-width">
                      <tr>
                        <td>Article</td>
                        <td>{{demande.productName}}</td>
                        <td rowspan="2">
                      </td>
                      </tr>
                      <tr>
                        <td>Montant</td>
                        <td class="prix"><h4>{{demande.montant|currency:'XOF':'symbol'}}</h4></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Date</td>
                        <td>{{demande.dateDemande| date:'dd MMMM yyyy à HH:mm'}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Statut</td>
                        <td>{{demande.currentStatName}}</td>
                        <td></td>
                      </tr>
  
                      <tr>
                        <td>Catégorie</td>
                        <td>{{productDetails.productCategoryName}}</td>
                        <td></td>
                      </tr>
                      <tr>
                          <td>Fournisseur</td>
                          <td>{{productDetails.fournisseursTitre}}</td>
                          <td></td>
                        </tr>
                    </table>
              </div>
              <div fxFlex="40%">
                  <fieldset class="fieldset full-width">
  
                          <legend>Description du produit</legend>
                          {{productDetails.description}}
  
                  </fieldset>
  
                </div>
  
  
              </div>
  
      <mat-divider></mat-divider>
  
      <mat-divider></mat-divider>
      <div>
  
      </div>
  
            </mat-card-content>
  
  
        </mat-card>
        </mat-tab>
        <mat-tab label="Commentaires" class="">
            <mat-card>
                <mat-card-header>
  
                    <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
                    <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
                    <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
                </mat-card-header>
  
                <mat-card-content>
  
                    <div >
  
  
                      <div>
  
                  </div>
  
  
  
  
          </div>
  
          <mat-divider></mat-divider>
          <div class="vspace"></div>
          <div   class="content-wrapper full-width">
  
              <fieldset class="fieldset">
                <legend>Commentaire</legend>
                  <form  [formGroup]="demadeForm" class="full-width" >
                      <mat-form-field class="full-width" >
  
                            <textarea rows="6" matInput formControlName="comment" required
                            class="full-width"  placeholder="Commentaire"></textarea>
  
                      </mat-form-field>
                    </form>
              </fieldset>
            </div>
            <div class="vspace"></div>
  
          <div>
  
  
  
  
          </div>
  
          <mat-divider></mat-divider>
          <div>
              <div class="vspace"></div>
           <h4>{{demande.currentStatName}}</h4>
          </div>
                </mat-card-content>
  
  
            </mat-card>
        </mat-tab>
        <mat-tab label="Historiques">
  <mat-card>
      <mat-card-header>
  
          <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
          <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
          <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div class="content-wrapper full-width">
  
  
          <table class="table table-condensed table-striped table-hover  table-bordered">
              <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Commentaire</th>
                  <th>Intervenant</th>
                  <th>Avis</th>
  
              </tr>
                <tr *ngFor="let work of workFlow; let i=index">
                   <td>
                     {{i+1}}
                   </td>
                   <td>{{work.dateOperation | date:'dd/MM/yyyy à HH:mm'}}</td>
                   <td>{{work.comment}}</td>
                   <td>{{work.userFullName}}</td>
                   <td>{{work.actionsName}}</td>
  
                </tr>
  
              </table>
            </div>
      </mat-card-content>
  
  </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>


<footer class="action">
    <button mat-raised-button  class="action-button" [disabled]="!demadeForm.valid" (click)="rejectDemande()" color="warn">
        Rejeter
        <mat-icon class="mat-18">delete</mat-icon>

    </button>

    <button mat-raised-button  class="action-button" [disabled]="!demadeForm.valid" (click)="ValidateDemande()" color="primary">
      Accepter
      <mat-icon class="mat-18">checked</mat-icon>

  </button>
    <button mat-raised-button  class="action-button" (click)="onNoClick()" color="basic">
        Fermer
        <mat-icon class="mat-18">close</mat-icon>
    </button>
</footer>
  </div>
</div>

</div>
