.layout{
  min-height: 400px;
  display: flex;
}
.helppan{
  background: #f4f4f4;
}

.mat-dialog-container{
  padding: 0px !important;
}



.help-container{
  margin: 5px;
  padding: 7px;
  padding-top: 10px !important;
}
.wrapper{
  display: flex;
  min-height: 400px;

}
.form-container{
  padding: 10px;
  display: flex;
  min-width: 100%;
}

.form-header{
  border-bottom: 1px solid #f4f4f4;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: end;

}

.mat-form{
  width: 100%;
  display: flex;
}
.mat-field{
  width: 100%;

}
.vspace{
  height: 4px;
  padding-top: 4px;
  margin-top: 4px;
}
.action{
  padding: 3%;
  display: flex;
  justify-content: end;
  display: flex;
  margin-top:auto;
  align-items: flex-end;
  align-self: flex-end;
}
.action-button{
  margin: 10px;
}
.center-icon{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.close-button{
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  columns: #333333;
  :hover{
    background: #ffffff !important;
  }

}
.ulistration-mat-icon {
  font-size: 68px;
  height: 128px;
  width: 128px;
  color: #089cb6c0;
  align-self: center;
}
