<div fxLayout="row"  fxLayoutGap="0px" class="layout">
    <div fxFlex="35%" f class="helppan">
    <div class="help-container">
        <p class="mat-title">Nouveaau group</p>
        <mat-divider></mat-divider>
  <div class="vspace"></div>
        <p class="mat-subheading-1">
          Le groupus est l’ensemble des actions dans une chaine d’approbation
        </p>
      <span  class="center-icon">

           <mat-icon class="mat-18 ulistration-mat-icon">group</mat-icon>

      </span>
    </div>

    </div>
    <div fxFlex="65%" >
  <div class="wrapper" fxLayout="column">


  <div class="form-header">

  <span class="close-button"   (click)="close()">
    <mat-icon   aria-label="icon">clear</mat-icon>
  </span>


  </div>
  <div class="form-container" fxFlex='1'>
   <form [formGroup]="groupFromGroup" class="mat-form">
     <mat-form-field class="mat-field">
       <mat-input-container floatPlaceholder="auto">
           <input matInput formControlName="name"
                  type="text"
                  required
                  placeholder="Désignation">
       </mat-input-container>
     </mat-form-field>
     <mat-form-field class="mat-field">
       <mat-input-container floatPlaceholder="auto">
           <textarea matInput formControlName="description" required
                     placeholder="Description"></textarea>
       </mat-input-container>
     </mat-form-field>
     <mat-form-field class="mat-field">
       <mat-select formControlName="process" placeholder="">
           <mat-option *ngFor="let pro of process" [value]="pro.id">
               {{pro.name}}
           </mat-option>
       </mat-select>
     </mat-form-field>
   </form>
  </div>
  <mat-divider></mat-divider>
  <footer class="action">
    <button class="action-button" mat-raised-button (click)="AddGroup()">Créer</button>
    <button class="action-button" mat-raised-button (click)="close()">Abandonner</button>
  </footer>
    </div>
  </div>

  </div>
