.layout{
  min-height: 400px;
  display: flex;
}
.helppan{
  background: #f4f4f4;
}

.mat-dialog-container{
  padding: 0px !important;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.color{
  background: #023340;
}

.color1{
  background: #73b607;
}

.color2{
  background: #f70763;
}

.permission-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
}
.pad{
  padding: 1em;
}




.help-container{
  margin: 5px;
  padding: 7px;
  padding-top: 10px !important;
}
.wrapper{
  display: flex;
  min-height: 400px;

}
.form-container{
  padding: 10px;
  display: flex;
  min-width: 100%;
}

.form-header{
  border-bottom: 1px solid #f4f4f4;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;

}

.mat-form{
  width: 100%;
}
.mat-field{
  width: 100%;
}
.vspace{
  height: 4px;
  padding-top: 4px;
  margin-top: 4px;
}
.action{
  padding: 3%;
  display: flex;
  justify-content: flex-end;
  display: flex;
  margin-top:auto;
  align-items: flex-end;
  align-self: flex-end;
}
.ulistration-mat-icon {
  font-size: 68px;
  height: 128px;
  width: 128px;

  align-self: center;
}

.action-button{
  margin: 10px;
}
.center-icon{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.close-button{
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  columns: #333333;
  :hover{
    background: #ffffff !important;
  }

}
dl {
  border: 1px solid #bdc8ca;
  background-color: #f7fafa;
}
.ie7 dl {
  overflow: hidden;
}
dt,
dd {
  box-sizing: border-box;
  padding: 10px;
}
dd ~ dt,
dd ~ dd {
  border-top: 1px solid #bdc8ca;
}
dt {
  float: left;
  width: 35%;
  padding-bottom: 0;
  text-align: right;
  font-weight: bold;
}
.ie7 dt {
  padding-bottom: 10px;
  clear: both;
}
dd {
  margin-left: 35%;
  border-left: 1px dotted #bdc8ca;
  background-color: #fff;
}
.ie7 dd {
  margin-left: 40%;
  overflow: hidden;
}
dd:after {
  content: "";
  display: block;
  clear: both;
}
/*dt*/.row2 + dd:after {
  content:none;
}

