<div class="mat-row page mat-elevation-z2" width="80%">


    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index"> {{i+1}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                      <mat-cell *matCellDef="let Actions"> {{Actions.name}} </mat-cell>
                   </ng-container>
                <ng-container matColumnDef="typeAction">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Le type d'actions </mat-header-cell>
                  <mat-cell *matCellDef="let Actions"> {{typeActions[Actions.typeAction]}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> La description </mat-header-cell>
                    <mat-cell *matCellDef="let Actions"> {{Actions.description}} </mat-cell>
                </ng-container>
                  <ng-container matColumnDef="processName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Le processus </mat-header-cell>
                      <mat-cell *matCellDef="let Actions"> {{Actions.processName}} </mat-cell>
                  </ng-container>


                <ng-container matColumnDef="actions" >
                    <mat-header-cell *matHeaderCellDef class="lastcell">
                      <button mat-mini-fab color="primary" matTooltip="Nouveau Actions" (click)="addNewActions(Actions)">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let Actions" class="lastcell">
                      <button mat-icon-button color="accent" matTooltip="Editer les informations" (click)="EditActions(Actions)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>



                      <button mat-icon-button color="warn" matTooltip="Suprimer l'utilisateur" (click)="deleteActions(Actions)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator  [pageSize]="8" [pageSizeOptions]="[5, 10, 25]">
              </mat-paginator>


  </div>

   </div>
