<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="mat-row page mat-elevation-z2" width="80%">


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Agence </mat-header-cell>
                    <mat-cell *matCellDef="let agences"> {{agences.name}} </mat-cell>
                  </ng-container>
              <ng-container matColumnDef="villesName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
                <mat-cell *matCellDef="let agences"> {{agences.villesName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="tel">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
                  <mat-cell *matCellDef="let agences"> {{agences.tel}} </mat-cell>
                </ng-container>

              <ng-container matColumnDef="headName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Chef d'agences </mat-header-cell>
                  <mat-cell *matCellDef="let agences"> {{agences.headName}} </mat-cell>
                </ng-container>

              <ng-container matColumnDef="actions" >
                  <mat-header-cell *matHeaderCellDef class="lastcell">
                    <button mat-mini-fab color="primary" matTooltip="Nouveau agences" (click)="addNewAgences(agences)">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let agences" class="lastcell">
                    <button mat-icon-button color="accent" matTooltip="Editer les informations" (click)="EditAgences(agences)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>



                    <button mat-icon-button color="warn" matTooltip="Suprimer l'utilisateur" (click)="deleteAgences(agences)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>


</div>
 </div>
