<div mat-dialog-container>
    <mat-toolbar *ngIf="style==1" color="{{color}}" >
      <mat-card-header class="header">

            <h6>{{titre}}</h6>

       <div style="display: flex; justify-content: flex-end; width: 100%;">
          <mat-icon  >{{icone}}</mat-icon>
       </div>



      </mat-card-header>
    </mat-toolbar>
    <div class="msg">

        <div class="aligner"> <h2 class="mat-h3">{{message}}</h2></div>

    </div>
    <div class="info" *ngIf="information!==''">


    </div>
    <mat-divider></mat-divider>
    <div style="padding: 8px;float:right">
      <div *ngIf="button==0">
        <button mat-raised-button color="primary" (click)="onOk()" tabindex="-1">OK</button>
      </div>
      <div *ngIf="button==1">
        <button mat-raised-button color="primary" (click)="onOk()" tabindex="-1">OK</button>&nbsp;
        <button mat-raised-button color="basic" (click)="onCancel()" tabindex="-1">ANNULER</button>
      </div>
      <div *ngIf="button==2">
        <button mat-raised-button color="primary" (click)="onYes()" tabindex="-1">OUI</button>&nbsp;
        <button mat-raised-button color="basic" (click)="onNo()" tabindex="-1">NON</button>
      </div>
      <div *ngIf="button==3">
        <button mat-raised-button color="warn" (click)="onAccept()" tabindex="-1">ACCEPTER</button>&nbsp;
        <button mat-raised-button color="primary" (click)="onReject()" tabindex="-1">REJETER</button>
      </div>
    </div>

  </div>
