.titre{
    font-family: 'Roboto, Helvetica Neue, Arial, sans-serif';
    font-size: 1em;
    text-align: center;
}

.message{
  padding: left 20px; ;
}

.message-icon{
 flex: 1 1 auto;
}


.msg{
 text-align: center;
 width: 100%;
 justify-content: center;
 display: flex;

 margin-top: 20px;
 margin-bottom: 20px;



}
.msg .aligner{
  display: table-cell;
  width: inherit;
  vertical-align: middle;
 }


.icon{
  display: flex;
  align-self: flex-end;

  padding-left: 20%;
}



.header{
  display: flex;
  justify-content:flex-start space-between flex-end;
  text-align: end;
  width: 100%;
}
