@import 'node_modules/@angular/material/_theming.scss';
@include mat-core();
@import 'theme-customization.scss';

// ************** DEFAULT:
$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include theme-customization($theme);

// ************** DARK:
.dark-theme {
    $primary: mat-palette($mat-blue-grey);
    $accent:  mat-palette($mat-amber, A200, A100, A400);
    $warn:    mat-palette($mat-deep-orange);
    $theme:   mat-dark-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
    @include theme-customization($theme);
}

// ************** CANDY:
.candy-theme {
    $primary: mat-palette($mat-indigo);
    $accent:  mat-palette($mat-pink, A200, A100, A400);
    $warn:    mat-palette($mat-red);
    $theme: mat-light-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
    @include theme-customization($theme);
}
