@import "./side-navigation/side-navigation.component.scss";
@import "./toolbar/toolbar.component.scss";

@mixin admin-theme($theme) {
    @include side-navigation-theme($theme);
    @include toolbar-theme($theme);

}

mat-row:nth-child(even){
  background-color: #ffffff;
}
mat-row:nth-child(odd){
  background-color: #eff0f0;
}

mat-row:hover{
  background-color:#e0e0e0;
}

