<div class="mat-row page mat-elevation-z2" width="80%">
<div fxLayout="row">
  <div class="profile m-r-20" fxFlex="340px">
    <mat-card fxFlex>
      <div mat-card-image class="profile-image"></div>
      <div class="profile-image-avatar text-center">
        <img class="avatar"
             src="../../../../assets/av1_1.jpg">
      </div>
      <mat-card-content class="text-center">
        <h4 class="mat-card-title"> <span *ngIf="userService.currentUser.friendlyName">{{userService.currentUser.friendlyName}}</span></h4>
        <h6 class="mat-card-subtitle"> <span *ngIf="userService.currentUser.jobTitle">{{userService.currentUser.jobTitle}}</span></h6>

      </mat-card-content>
      <mat-action-row class="center text-center">
          <button color="accent" mat-raised-button (click)="EditPassword()">Changer de mot de passe</button>
      </mat-action-row>
    </mat-card>
  </div>


  <mat-card fxFlex>
    <mat-card-title>Profil de l'utilisateur</mat-card-title>
    <mat-card-content>
      <form fxLayout="column" (ngSubmit)="onSubmit()" [formGroup]="formuserProfile">
        <mat-form-field class="full-width">
          <input matInput placeholder="Poste occupé" formControlName="jobTitle" required >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom d'utilisateur" formControlName="userName" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Adresse électronique"  formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="full-width readonly-wrapper">
          <mat-select multiple formControlName="roles" class="readonly-block readonly-wrapper" placeholder="Les rôles" required [compareWith]="compareRoles" >
              <mat-option *ngFor="let role of lesRoles" [value]="role.name" disabled>
                  {{role.name}}
              </mat-option>
          </mat-select>

        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom complet"  formControlName="fullName" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Téléphone #"  formControlName="phoneNumber" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formuserProfile.valid">Appliquer</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>
</div>
