.fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

@import "./alert-toolbar/alert-toolbar.component.scss";

@mixin toolbar-theme($theme) {
    @include alert-toolbar-theme($theme);

    $primary: map-get($theme, primary);
    
    .mat-toolbar.mat-primary {
        background: mat-color($primary, 50);
        color: mat-color($primary, A700);
    }
    .mat-icon-button {
        outline:none !important;     
        &:hover {
            @include mat-elevation(2);
        }
    }

    
}