<div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-card>
      <mat-card-header>
          <img matCardAvatar [src]="productDetails.sicone">
          <mat-card-title>Détails de la demandes</mat-card-title>
          <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
          <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
          <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <div fxLayout
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">


        <div fxFlex="49%">
            <table class="example-form">
                <tr>
                  <td>Article</td>
                  <td>{{demande.productName}}</td>
                  <td rowspan="2">
                </td>
                </tr>
                <tr>
                  <td>Montant</td>
                  <td class="prix"><h4>{{demande.montant|currency:'XOF':'symbol'}}</h4></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Date de la demande</td>
                  <td>{{demande.dateDemande| date:'dd MMMM yyyy à HH:mm'}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Statut</td>
                  <td>{{demande.currentStatName}}</td>
                  <td></td>
                </tr>

                <tr>
                  <td>Catégorie</td>
                  <td>{{productDetails.productCategoryName}}</td>
                  <td></td>
                </tr>
                <tr>
                    <td>Fournisseur</td>
                    <td>{{productDetails.fournisseursTitre}}</td>
                    <td></td>
                  </tr>
              </table>
        </div>
        <div fxFlex="49%">
            <fieldset class="fieldset">

                    <legend>Description du produit</legend>
                    {{productDetails.description}}

            </fieldset>
            <fieldset class="fieldset" *ngIf="demande.statut=='0'">
              <legend>Commentaire</legend>
                <form  [formGroup]="demadeForm" >
                    <mat-form-field class="example-full-width" >

                          <textarea rows="6" matInput formControlName="comment" required
                                    placeholder="Commentaire"></textarea>

                    </mat-form-field>
                  </form>
            </fieldset>
          </div>



</div>
<mat-divider></mat-divider>
<div>

</div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button [disabled]="!demadeForm.valid||demande.statut>'0'" (click)="cancelDemande()" color="warn">
            Annuler
            <mat-icon class="mat-18">remove</mat-icon>

        </button>
        <button mat-raised-button (click)="onNoClick()" color="primary">
            Fermer
            <mat-icon class="mat-18">close</mat-icon>
        </button>


      </mat-card-actions>

  </mat-card>
</div>
