
<div fxLayout="row" fxLayoutGap="5px" class="full-h">
  <div fxFlex="28%" class="helppan">
    <div class="help-container">
      <p class="mat-title">Definir la cible de cette action</p>
      <mat-divider></mat-divider>
<div class="vspace"></div>
      <p class="mat-subheading-1">
        Le actionsus est l’ensemble des actions dans une chaine d’approbation
      </p>
    <span  class="center-icon">

         <mat-icon class="mat-18 ulistration-mat-icon">checked</mat-icon>

    </span>
  </div>

   </div>

<div fxFlex="68%" class="full-h">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-tab-group [disableRipple]="false">
      <mat-tab label="Demande">
        <mat-card>
          <mat-card-header>
              <img matCardAvatar [src]="productDetails.sicone">
              <mat-card-title>Détails de la demandes</mat-card-title>
              <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
              <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
              <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <div fxLayout
            fxLayout
            fxLayout.xs="row"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">



            <div fxFlex="52%">
                <table class="table table-condensed table-mc-red full-width">
                    <tr>
                      <td>Article</td>
                      <td>{{demande.productName}}</td>
                      <td rowspan="2">
                    </td>
                    </tr>
                    <tr>
                      <td>Montant</td>
                      <td class="prix"><h4>{{demande.montant|currency:'XOF':'symbol'}}</h4></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>{{demande.dateDemande| date:'dd MMMM yyyy à HH:mm'}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Statut</td>
                      <td>{{demande.currentStatName}}</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>Catégorie</td>
                      <td>{{productDetails.productCategoryName}}</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>Fournisseur</td>
                        <td>{{productDetails.fournisseursTitre}}</td>
                        <td></td>
                      </tr>
                  </table>
            </div>
            <div fxFlex="40%">
                <fieldset class="fieldset full-width">

                        <legend>Description du produit</legend>
                        {{productDetails.description}}

                </fieldset>

              </div>


            </div>

    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <div>

    </div>

          </mat-card-content>


      </mat-card>
      </mat-tab>

      <mat-tab label="Historiques">
<mat-card>
    <mat-card-header>

        <mat-card-subtitle>{{userInfo.departementName}}</mat-card-subtitle>
        <mat-card-subtitle>Service {{userInfo.servicesName}}</mat-card-subtitle>
        <mat-card-subtitle>Agence {{userInfo.agencesName}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="wrapper full-width">


        <table class="table table-condensed table-striped table-hover  table-bordered">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Commentaire</th>
                <th>Intervenant</th>
                <th>Avis</th>

            </tr>
             <!--  <tr *ngFor="let work of workFlow; let i=index">
                 <td>
                   {{i+1}}
                 </td>
                 <td>{{work.dateOperation | date:'dd/MM/yyyy à HH:mm'}}</td>
                 <td>{{work.comment}}</td>
                 <td>{{work.userFullName}}</td>
                 <td>{{work.actionsName}}</td>

              </tr> -->

            </table>
          </div>
    </mat-card-content>

</mat-card>
      </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <mat-card-actions class="action" align="end">



    <button mat-raised-button [disabled]="!demadeForm.valid" color="primary">
      Annuler
      <mat-icon class="mat-18">checked</mat-icon>

  </button>
    <button mat-raised-button (click)="onNoClick()" color="basic">
        Fermer
        <mat-icon class="mat-18">close</mat-icon>
    </button>


  </mat-card-actions>
</div>
</div>
