

   <mat-toolbar color="primary">
    Ajouter une nouvelle categories

</mat-toolbar>

<mat-divider></mat-divider>

<mat-card>


<mat-card-content>
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="categoriesForm" >




                  <mat-form-field class="example-full-width">
                          <input matInput   placeholder="Désignation"  formControlName='name' >
                          <mat-error *ngIf="categoriesForm.get('name').errors && categoriesForm.get('name').errors.isExiste">Ce categories existe déjà dans l'application !</mat-error>
                          <mat-error *ngIf="categoriesForm.get('name').errors && !categoriesForm.get('name').errors.isExiste">Le nom du categories est réquis!</mat-error>
                          <mat-error color="primary" *ngIf="categoriesForm.get('name').status === 'PENDING'">Vérification</mat-error>

                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput   placeholder="Description"  formControlName='description' ></textarea>
                    <mat-error *ngIf="categoriesForm.get('description').errors && categoriesForm.get('description').errors.isExiste">Ce categories existe déjà dans l'application !</mat-error>
                    <mat-error *ngIf="categoriesForm.get('description').errors && !categoriesForm.get('description').errors.isExiste">Le nom du categories est réquis!</mat-error>
                    <mat-error color="primary" *ngIf="categoriesForm.get('description').status === 'PENDING'">Vérification</mat-error>

            </mat-form-field>


                  <br>














    </form>
</mat-card-content>

<mat-card-actions align="end">
    <button mat-raised-button (click)="onSubmit()" [disabled]="!categoriesForm.valid" color="primary" >Ajouter</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="basic">fermer</button>

</mat-card-actions>

</mat-card>
