@mixin side-navigation-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foregraound: map-get($theme, foregraound);
    $customforegraond:#ffffff;
    .mat-drawer,
    .mat-expansion-panel {
        background:  mat-color($primary, 600); // #2A3F54; mat-color(mat-grey, 50);
        color: $customforegraond;
    }
    .mat-expansion-panel>.mat-expanded {
        border-right: 4px solid mat-color($primary, 500);
    }
    .mat-list-item.active {
        background: mat-color($primary, 500);
    }
    .mat-list-item {
        :hover {
            background: mat-color($primary, 500, 0.9);
        }
    }
    .mat-expansion-panel-header {
        color: $customforegraond;
        background: linear-gradient(mat-color($primary, A700,1), mat-color($primary, A700, 0.5)), mat-color($primary, A700,0.8);
        box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
        color:$customforegraond;// $foregraound;
        //flex-grow: unset !important;
    }
    .mat-expansion-panel-header-description {
        padding-top: 3px;
    }
    .mat-list .mat-list-item .mat-list-item-content,
    .mat-nav-list .mat-list-item .mat-list-item-content,
    .mat-selection-list .mat-list-item .mat-list-item-content {
        height: 40px !important;
        color:$customforegraond;
        
    }
    .mat-expansion-panel-body {
        padding: 0 !important;
        padding-left: 10px !important;
        padding-bottom: 10px !important;
    }
    .mat-nav-list .mat-list-item {
        // color: mat-color($primary, 50);
        height: 40px !important;
    }
    
    /*
    .mat-list-item:active {
        color: red !important;
        background: red !important;
    }*/
}