<div fxLayout="row"  fxLayoutGap="0px" class="layout">
  <div fxFlex="25%" f class="helppan">
  <div class="help-container">
      <p class="mat-title">Saisie de la facture</p>
      <mat-divider></mat-divider>
<div class="vspace"></div>
      <p class="mat-subheading-1">
        <b>Une facture</b> est un document qui atteste de l'achat ou de la vente de biens ou services.
      </p>
    <span  class="center-icon">

         <mat-icon class="mat-18 ulistration-mat-icon" color="warn">description</mat-icon>

    </span>
  </div>

  </div>
  <div fxFlex="75%" >
<div class="wrapper" fxLayout="column">


<div class="form-header">

<span class="close-button"   (click)="onNoClick()">
  <mat-icon   aria-label="icon">clear</mat-icon>
</span>


</div>
<div>
  <table>
    <tr>
      <td>
Article
      </td>
      <td>
          {{demande.productName}}
      </td>
    </tr>
    <tr>
        <td>
  Fournisseur
        </td>
        <td>
            {{productDetails.fournisseursTitre}}
        </td>
      </tr>
  </table>

    <mat-divider></mat-divider>


</div>
<div class="form-container" fxFlex='1'>

 <form [formGroup]="facturesForm" class="example-form">

<div flex fxLayout="row" fxLayoutGap="10px" class="example-form">

    <div fxFlex="50%">
        <mat-form-field class="example-full-width">

            <input matInput formControlName="refFacture"
                   type="text"
                   required
                   placeholder="Réf de la Facture">

      </mat-form-field>
      <mat-form-field class="example-full-width">

         <input matInput [matDatepicker]="picker" formControlName="dateOperation" placeholder="Date Facture">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>

     </mat-form-field>
     <mat-form-field class="example-full-width">

           <input matInput formControlName="libele"
                  type="text"
                  required
                  placeholder="Libelé de la Facture">

     </mat-form-field>
     <mat-form-field class="example-full-width">

           <input matInput formControlName="montant"
                  type="text"
                  required
                  currencyMask
                  placeholder="Montant de la Facture">

     </mat-form-field>
     <mat-form-field class="example-full-width">
        <mat-select formControlName="comptesInternes" placeholder="Comptes">
            <mat-option *ngFor="let compte of compteInternes" [value]="compte.id">
                {{compte.label}}
            </mat-option>
        </mat-select>
       </mat-form-field>
    </div>
      <div fxFlex="49%">
          <mat-form-field class="example-full-width">

              <input matInput formControlName="ristoune"
                     type="text"
                     currencyMask
                     placeholder="Escompte/Ristourne">

            </mat-form-field>
            <mat-form-field class="example-full-width" >

              <input matInput formControlName="fraitsTransports"
                     type="text"
                     currencyMask
                     placeholder="Frais de transport">

            </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="facturesForm.get('tvaDeductible').value==1">

              <input matInput formControlName="tva"
                     type="text"

                     currencyMask
                     placeholder="Tva">

          </mat-form-field>

              <mat-slide-toggle formControlName="tvaDeductible" color="accent">
                  Tva deductible
              </mat-slide-toggle>







      </div>

</div>




 </form>
</div>
<mat-divider></mat-divider>


<footer class="action">
  <button class="action-button" color="primary" [disabled]="!facturesForm.valid" mat-raised-button (click)="AddFacture()">{{actionLabel}}</button>
  <button class="action-button" mat-raised-button (click)="onNoClick()">Abandonner</button>
</footer>
  </div>
</div>

</div>
